.classpath
.DS_Store
.factorypath
.idea/
.incremental/
.polyglot.pom.yaml
.project
.settings/
.springBeans
.vscode/
*.iml
*.ipr
*.iws
build.log
dependency-reduced-pom.xml
out/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
Thumbs.db